

<div style="margin-bottom: 50px;">
    <mat-card>
        <mat-card-header> Text Adaptation </mat-card-header>
        <mat-card-content>
            <sng-text-adaptation>
                <p>Este é um texto genérico destinado a preencher uma área de texto em um website ou documento. Ele pode ser usado
                    como uma amostra de conteúdo ou para fins de teste de formatação. O objetivo deste texto é fornecer informações
                    básicas sobre um tópico genérico e preencher espaço na página. Ele pode ser personalizado ou substituído por
                    conteúdo real relevante para o usuário ou o propósito do documento.</p>
            </sng-text-adaptation>
        </mat-card-content>
    </mat-card>
</div>

<div style="margin-bottom: 50px;">
    <mat-card>
        <mat-card-header> Highlight Link </mat-card-header>
        <mat-card-content>
            <sng-highlight-link></sng-highlight-link>
        </mat-card-content>
    </mat-card>
</div>