<!--
    <div style="margin-bottom: 50px;">
        <mat-card>
            <mat-card-header> <h4> Text Adaptation </h4> </mat-card-header>
            <mat-card-content>
                <sng-text-adaptation>
                    <p>BLA BLA BLA</p>
                </sng-text-adaptation>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div style="margin-bottom: 50px;">
        <mat-card>
            <mat-card-header> <h4> Highlight Link </h4> </mat-card-header>
            <mat-card-content>
                <sng-highlight-link></sng-highlight-link>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div style="margin-bottom: 50px;">
        <mat-card>
            <mat-card-header> <h4> Mouse Increase </h4> </mat-card-header>
            <mat-card-content>
                <sng-mouse-increase> </sng-mouse-increase>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div style="margin-bottom: 50px;">
        <mat-card>
            <mat-card-header> <h4> Dropdown to List </h4> </mat-card-header>
            <mat-card-content>
                <sng-dropdown-to-list></sng-dropdown-to-list>
            </mat-card-content>
        </mat-card>
    </div>
    
    <div style="margin-bottom: 50px;">
        <mat-card>
            <mat-card-header> <h4> Hint </h4> </mat-card-header>
            <mat-card-content>
                <sng-hint></sng-hint>
    
                Exemplo de uso
                <button mat-raised-button
                        color="secondary"
                        matTooltip="Tooltip controlado 1"
                        appControlledTooltip="tooltip1">
                Componente com tooltip controlado 1
                </button>
    
                <button mat-raised-button
                        color="secondary"
                        matTooltip="Tooltip controlado 2"
                        appControlledTooltip="tooltip1">
                Componente com tooltip controlado 2
                </button>
    
            </mat-card-content>
        </mat-card>
    </div>
-->

<router-outlet></router-outlet>