<div class="container">
    <div class="container-header">
        <a routerLink="/home">
            <div class="container-icon"> ← </div>
        </a>
        <div class="container-title">
            <div class="title">SeniorNg</div>
            <div class="version">v15.0.0</div>
        </div>
      </div>
    <div class="container-cards">

        <div class="component-title">
            <picture>
                <source
                    srcset="../assets/icons/IconActionWarning.png"
                    type="image/png"/>
                <img
                    loading="lazy"
                    src="../assets/icons/IconActionWarning.png"
                    srcset="../assets/icons/IconActionWarning.png"
                    alt="Ícone do componente Action Warning"
                    class="image"/>
            </picture>
            Action Warning
        </div>
        <div class="component-text">
            O componente "Action Warning" é uma caixa de diálogo que notifica e confirma ações importantes ou irreversíveis antes de serem executadas. Ele permite personalização do título, mensagem, botões primário e secundário, possibilitando sua adaptação ao contexto específico da aplicação. É útil para evitar ações indesejadas, como excluir itens ou realizar ações críticas sem intenção.
        </div>
        <div class="component-example">
            <button
                class="button"
                action-warning
                [title]="'Você está saindo da sua conta'"
                [content]="'Você está saindo da sua conta, confirmar ação?'"
                [buttonPrimary]="'Confirmar'"
                [buttonSecondary]="'Cancelar'">
                    Sair da conta
            </button>
        </div>

    </div>
</div>
