<div class="container">
    <div class="container-header">
        <a routerLink="/home">
            <div class="container-icon"> ← </div>
        </a>
        <div class="container-title">
            <div class="title">SeniorNg</div>
            <div class="version">v1.0.0</div>
        </div>
      </div>
    <div class="container-cards">

        <div class="component-title">
            <picture>
                <source
                    srcset="../assets/icons/IconMouseSensibility.png"
                    type="image/png"/>
                <img
                    loading="lazy"
                    src="../assets/icons/IconMouseSensibility.png"
                    srcset="../assets/icons/IconMouseSensibility.png"
                    class="image"/>
            </picture>
            Increase Mouse Sensibility
        </div>
        <div class="component-text">
            O componente "Increase Mouse Sensibility" é um recurso interativo que aumenta a área clicável de botões quando o cursor do mouse é colocado sobre eles (hover). Essa ampliação temporária melhora a usabilidade, tornando os botões mais visíveis e convidativos para os usuários, especialmente aqueles com baixa visão ou dificuldades de precisão no uso do mouse. A animação proporciona feedback visual imediato, incentivando a interação e facilitando a identificação e utilização dos botões na interface digital. Essa abordagem visa atender às recomendações de usabilidade e acessibilidade, garantindo que a área sensível aos cliques seja suficientemente grande para uma interação confortável, especialmente para usuários idosos.        </div>
        <div class="component-example">
            <sng-increase-sensibility label="Pesquisar"></sng-increase-sensibility>
        </div>

    </div>
</div>

