<div class="container">
    <div class="container-title">
        <div class="title">SeniorNg</div>
        <div class="version">v15.0.0</div>
      </div>
    <div class="container-cards">
        <a routerLink="/action">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                    srcset="../assets/icons/IconActionWarning.png"
                    type="image/png"
                    />
                    <img
                    loading="lazy"
                    src="../assets/icons/IconActionWarning.png"
                    srcset="
                    ../assets/icons/IconActionWarning.png
                    "
                    class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Action Warning</div>
            </div>
        </a>
        <a routerLink="/dropdown">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconDropdownList.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconDropdownList.png"
                      srcset="
                      ../assets/icons/IconDropdownList.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Dropdown to List</div>
            </div>
        </a>

        <a routerLink="/highlight">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconLink.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconLink.png"
                      srcset="
                      ../assets/icons/IconLink.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">HighLight Link</div>
            </div>
        </a>
    </div>

    <div class="container-cards">
        <a routerLink="/hint">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconHint.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconHint.png"
                      srcset="
                      ../assets/icons/IconHint.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Hint</div>
            </div>
        </a>

        <a routerLink="/increase-mouse-sensibility">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconMouseSensibility.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconMouseSensibility.png"
                      srcset="
                      ../assets/icons/IconMouseSensibility.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Increase Mouse Sensibility</div>
            </div>
        </a>

        <a routerLink="/mouse-controler">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconMouseControler.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconMouseControler.png"
                      srcset="
                      ../assets/icons/IconMouseControler.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Mouse Controler</div>
            </div>
        </a>
    </div>

    <div class="container-cards">
        <a routerLink="/text">
            <div class="div">
                <div class="div-2">
                    <picture>
                    <source
                      srcset="../assets/icons/IconTextAdaptation.png"
                      type="image/png"
                    />
                    <img
                      loading="lazy"
                      src="../assets/icons/IconTextAdaptation.png"
                      srcset="
                      ../assets/icons/IconTextAdaptation.png
                      "
                      class="image"
                    />
                    </picture>
                    <div class="builder-image-sizer image-sizer"></div>
                </div>
                <div class="div-3">Text Adaptation</div>
            </div>
        </a>
    </div>
</div>
