a {
    text-decoration: none;
}

.container-cards {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.container-title {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 100px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .title {
    max-width: 100px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Verdana", sans-serif;
  }
  .version {
    max-width: 33px;
    margin-top: 1px;
    color: #575757;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Verdana", sans-serif;
  }

.div {
    margin-right: 50px;
    margin-bottom: 50px;
    height: 110px;
    width: 400px;
    display: flex;
    flex-direction: column;
    max-width: 682px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 27px 0px rgba(230, 234, 240, 0.20000000298023224);
    padding-top: 33px;
    padding-right: 10px;
    padding-bottom: 33px;
    padding-left: 10px;
    border-color: rgba(228, 233, 242, 1);
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 1);
  }

  .div-2 {
    display: flex;
    position: relative;
    min-width: 20px;
    min-height: 20px;
    max-width: 60px;
    width: 60px;
  }
  .image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 100%;
    pointer-events: none;
    font-size: 0;
  }
  .div-3 {
    max-width: 250px;
    margin-top: 16px;
    color: #575757;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    font-family: "Verdana", sans-serif;
  }
