<div class="container">
    <div class="container-header">
        <a routerLink="/home">
            <div class="container-icon"> ← </div>
        </a>
        <div class="container-title">
            <div class="title">SeniorNg</div>
            <div class="version">v1.0.0</div>
        </div>
      </div>
      <div class="container-cards">

        <div class="component-title">
            <picture>
                <source
                    srcset="../assets/icons/IconTextAdaptation.png"
                    type="image/png"/>
                <img
                    loading="lazy"
                    src="../assets/icons/IconTextAdaptation.png"
                    srcset="../assets/icons/IconTextAdaptation.png"
                    class="image"/>
            </picture>
            Text Adaptation
        </div>
        <div class="component-text">
            O componente "Text Adaptation" é um bloco de texto acessível que permite aos usuários personalizar a exibição do texto de acordo com suas necessidades. Ele oferece funcionalidades como contrastes negativos, ajuste de tamanho da fonte e desativação da justificação no texto. As opções de adaptação estão divididas em novos componentes, permitindo que o programador escolha quais recursos ativar ou desativar. É recomendado o uso completo do componente para garantir maior usabilidade e acessibilidade. O programador também pode definir o posicionamento dos botões e o texto dentro do container.
        </div>
        <div class="component-example">
            <sng-text-adaptation>
                <p>Este é um texto genérico destinado a preencher uma área de texto em um website ou documento. Ele pode ser usado como uma amostra de conteúdo ou para fins de teste de formatação. O objetivo deste texto é fornecer informações básicas sobre um tópico genérico e preencher espaço na página. Ele pode ser personalizado ou substituído por conteúdo real relevante para o usuário ou o propósito do documento.</p>
            </sng-text-adaptation>
        </div>

    </div>
</div>


