<div class="container">
    <div class="container-header">
        <a routerLink="/home">
            <div class="container-icon"> ← </div>
        </a>
        <div class="container-title">
            <div class="title">SeniorNg</div>
            <div class="version">v1.0.0</div>
        </div>
      </div>
    <div class="container-cards">
        <div style="margin-bottom: 50px;">
            <mat-card>
                <mat-card-header> <h4> Highlight Link </h4> </mat-card-header>
                <mat-card-content>
                    Este é um exemplo de link: 
                    <sng-highlight-link 
                        link="https://www.google.com.br"
                        textLink="www.google.com.br"
                        textTooltip="Este link irá te direcionar ao buscador Google quando clicado">
                    </sng-highlight-link>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>