<div class="container">
    <div class="container-header">
        <a routerLink="/home">
            <div class="container-icon"> ← </div>
        </a>
        <div class="container-title">
            <div class="title">SeniorNg</div>
            <div class="version">v1.0.0</div>
        </div>
      </div>
      <div class="container-cards">

        <div class="component-title">
            <picture>
                <source
                    srcset="../assets/icons/IconMouseControler.png"
                    type="image/png"/>
                <img
                    loading="lazy"
                    src="../assets/icons/IconMouseControler.png"
                    srcset="../assets/icons/IconMouseControler.png"
                    alt="Ícone do componente Mouse Controler"
                    class="image"/>
            </picture>
            Mouse Controler
        </div>
        <div class="component-text">
            O componente "Mouse Controler" possui botões para aumentar e diminuir o tamanho do cursor do mouse, proporcionando uma funcionalidade de acessibilidade. Essa opção visa melhorar a experiência de usuários com dificuldades visuais ou de precisão ao interagir com a interface digital. Ao clicar no botão "aumentar", o cursor do mouse é ampliado, tornando-o mais visível, enquanto o botão "diminuir" restaura o tamanho original. Essa personalização do cursor oferece maior conforto e facilita a navegação para usuários com necessidades específicas.
        </div>
        <div class="component-example">
            <sng-mouse-controler> </sng-mouse-controler>
        </div>

    </div>
</div>

